@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.container-map {
    width: auto;
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px #387CA3;
    z-index: -100;
}

.container-msn {
    /* background-color: #EEBC63; */
    background-color: #85B6D6;
    width: auto;
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
    border-radius: 10px; 
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both ;
}

@keyframes show {
    from {
        opacity: 0; 
        scale: 50%;
    }

    to{
        opacity: 1;
        scale:100%
    }
}

header {
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
}

.santiago-map {
    width: 400px;
}


.btn {
    color: #fff;
    background-color: orange;
    opacity: 0.9;
    /* padding: 6px 20px;  */
    border: none;
    border-radius: 50px;
    font-size: 1.125rem;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    height: fit-content;
    box-shadow: 0px 2px 2px 0px #ccc;
    margin-top: 2rem;
    min-height: 3.5rem;
    min-width: 12rem;
 }

 .btn:hover {
    background-color: orangered;
    cursor: pointer;
    transition: background-color 0.3s;
 }

 h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 1.2;
}

h2 {
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
}

h4 {
    font-family: 'Poppins', sans-serif;
    justify-content: center;
}

p {
    font-family: 'Poppins', sans-serif;
    justify-content: center;
}

@media screen and (max-width: 60rem) {
    .container-map{
        margin: 0;
    }
    .content{
        width: 90%;
    }
};

@media screen and (max-width: 56rem) {
    .container-map{
        max-width: 90%;
        flex-direction: column;
        margin-inline: 0;
    }
  
    .content{
        inset: 0;
        transform: translate(0, 0);
        padding: 1rem 1.6rem;
        text-align: center;
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .image{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
};


@media screen and (max-width:36rem) {
    .container-map{
        max-width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    .image{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .container-msn{
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    }

    .header{
        align-content: center;
    }
};
