.Father-Container-About-Us-Page {
  margin: 0;
}

.First-Section-About-Us-Page {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 5vh;
  margin-top: 8vh;
}

.H2-First-Section-About-Us-Page {
  font-size: 3vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.H1-First-Section-About-Us-Page {
  font-size: 6vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.H3-First-Section-About-Us-Page {
  font-size: 4vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 0vh;
  margin-top: 0vh;
}

.Second-Section-Image-About-Us-Page {
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 5vh;
  margin-top: 8vh;
  height: 70vh;
}

.Image-About-Us-Page {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.Third-Section-About-Us-Page {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 5vh;
}

.Text-Third-Container-About-Us-Page {
  justify-content: center;
  margin: 8vh;
}

.Fourth-Section-About-Us-Page {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30vh;
  align-content: center;
  justify-content: center;
  align-items: flex-end;
}

.Article-Fourth-Section-About-Us-Page {
  display: flex;
  flex-direction: column;
}

.H1-Fourth-Section-About-Us-Page {
  font-size: 5vh;
}

.Fifth-Section-About-Us-Page {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.Why-Canastas-De-Vida-Section-About-Us-Page {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.H1-Why-Canastas-De-Vida-Section-About-Us-Page {
  font-size: 5vh;
  margin-bottom: 8vh;
}

.Be-Volunteer-Section-About-Us-Page {
  height: 100vh;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.Article-Be-Volunteer-Section-About-Us-Page {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 2%;
  padding: 2%;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.Form-Article-Be-Volunteer-Section-About-Us-Page {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2%;
  padding: 3%;
  background-color: #fafafa;
  border-radius: 14%;
  box-shadow: 0px 6px 13px 1px rgb(0 0 0/ 9%);
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

.Information-Cloud {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.Div-Form-Article-Be-Volunteer-Section-About-Us-Page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  line-height: 0rem;
}

.H1-Volunteer-Form-About-Us-Page{

}

.H6.Volunteer-Form-About-Us-Page{
  
}