.active {
  background-color: var(--color-secundario-B);
}
.NavConfig {
  background-color: #afe6ff;
  position: sticky;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 100;
  width: 100%;
  padding-top: 0vh;
  height: 0vh;
  margin-top: 0vh;
}
.onScroll {
  background-color: whitesmoke;
  width: 100%;
  top: 0;
  border-radius: 0;
  margin-top: 0vh;
  transition: transform;
  height: 12.5vh;
  align-items: flex-end;
}

.navBar {
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  font-weight: bold;
  margin-top: 18vh;
  width: 65vw;
  border-radius: 10rem;
  height: 3.5rem;
  font-size: 0.7rem;
}

#LogoNav {
  height: fit-content;
  width: 180px;
}
#LogoNavMobile {
  display: none;
  height: fit-content;
  width: 180px;
}

nav ul li a {
  display: block;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: black;
}

nav ul li a:visited {
  color: black;
}
nav ul li a:hover:not(.active) {
  cursor: pointer;
  background-color: var(--color-primario-B);
}
.Menu {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 1.8rem;
  right: 2rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.5rem;
  height: 2rem;
}
.Menu span {
  height: 0.3rem;
  width: 100%;
  background-color: var(--color-secundario-B);
  border-radius: 0.5rem;
}

@media (max-width: 770px) {
  
  .NavConfig {
    display: flex;
  } 

  .Menu {
    display: flex;
    z-index: 100;
    background-color: whitesmoke;
    padding: 0.7rem;
    border-radius: 10px;
  }
  .menuhamburgerMobile{
    display: flex;
    flex-direction: column;
  }
  .navBar {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 15vh;
    padding-inline-end: 1vw;
    font-weight: bold;
    margin-top: 10vh;
    padding-top: 10rem;
    width: 100vw;
    border-radius: 0;
    height: auto;
    font-size: 0.7rem;
  }
  .onScroll{
    background-color: whitesmoke;
    transition: none;
    top: 0;
    border-radius: 0;
    height: 12.5vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    font-weight: bold;
    width: 100vw;
    border-radius: 0;
    height: 0;
    font-size: 0.7rem;
    padding-left: 0;
  }

  #open {
    display: none;
  }

  #LogoNav {
    display: none;
  }

#LogoNavMobile {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    width: 8rem;
  } 
}

@media (max-width: 375px) {
  #LogoNavMobile {
    position: relative;
    right: 1rem;
  }
  .navBar {
    align-items: center;
  }
}

@media (max-width: 430px) {
  #open {
    display: flex;
    align-items: flex-end;
    width: 55%;
    background: transparent;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: nowrap;
    margin-top: 0rem;
    line-height: 0.5;
  }

  

  .NavConfig {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    width: 100%;
  }
  .Menu {
    display: flex;
    width: 2rem;
    height: 1.3rem;
  }

  #LogoNavMobile {
    display: flex;
    padding-top: 1rem;
    width: 6rem;
  }
}
