.active {
  background-color: var(--color-secundario-B);
}
.NavConfig {
  background-color: initial;
  position: sticky;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: ease-in-out 0.6s;
  z-index: 100;
  top: 1rem;
  width: 100vw;
  border-radius: 0;
}
.onScroll {
  background-color: whitesmoke;
  width: 100vw;
  top: 0;
  border-radius: 0;
  z-index: 100;
}

.navBar {
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  padding-inline-start: 1vw;
  padding-inline-end: 1vw;
  font-weight: bold;
  margin: 0;
  width: 80vw;
  border-radius: 10rem;
}

#LogoNav {
  height: fit-content;
  width: 200px;
}
#LogoNavMobile {
  display: none;
  height: fit-content;
  width: 200px;
}

nav ul li a {
  display: block;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: black;
}

nav ul li a:visited {
  color: black;
}
nav ul li a:hover:not(.active) {
  cursor: pointer;
  background-color: var(--color-primario-B);
}
.Menu {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 1.8rem;
  right: 2rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.5rem;
  height: 2rem;
}
.Menu span {
  height: 0.3rem;
  width: 100%;
  background-color: var(--color-secundario-B);
  border-radius: 0.5rem;
}

@media (max-width: 768px) {
  .NavConfig {
    display: flex;
    flex-direction: column;
  }
  .Menu {
    display: flex;
  }
  .navBar {
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: start;
    border-radius: 0;
  }
  #open {
    display: flex;
  }
  .NavConfig {
    align-items: center;
  }
  #LogoNav {
    display: none;
  }
  #LogoNavMobile {
    display: flex;
  }
}
