.contenedorposicion{
    align-items: start;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    background-color: var(--color-secundario-B);
}
.contenedordonaciones {
    display: flex;
    padding: 4rem;
    width: 50vw;
    height: 100%;
    background-color:var(--color-primario-B);
    border-start-start-radius:  10px ;
    border-bottom-left-radius: 10px;
}
.cajadedonaciones{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width:30vw;
    
}
.donacionanonima,
.nombredonante,
.montodonacion,
.destinodonacion {
    font-size: 20px;
    text-align: justify;
}
.nadiesabe,
.elplatuo,
.laplata,
.desticomunas {
    font-size: 20px;
    text-align: justify;
    border-radius: 10px;
    background-color:var(--color-secundario);
}
.guardardonacion{
    background-color: var(--color-secundario-B);
    height: 3rem;
    width: 10rem;
    border-radius: 10px;
}