.Donation-Button {
  border-radius: 50px;
  background-color: orange;
  cursor: pointer;
  user-select: none;
  color: white;
  font-size: 1.125rem;
  opacity: 0.9;
  font-family: 'Poppins', sans-serif;
  border: none;
  box-shadow: 0px 2px 2px 0px #ccc;
  height: fit-content;
  margin-top: 2rem;
  min-height: 3.5rem;
  min-width: 12rem;
  
}

.Donation-Button:hover {
  background-color: orangered;
}
