.Donation-Button {
  border-radius: 50px;
  background-color: #f1a057;
  cursor: pointer;
  user-select: none;
  color: white;
  font-size: 1.125rem;
  opacity: 0.9;
  font-family: Arial;
  font-style: bold;
  border: none;
  box-shadow: 0px 2px 2px 0px black;
  height: fit-content;
  margin-top: 2rem;
  min-height: 3.5rem;
  min-width: 12rem;
}

.Donation-Button:hover {
  background-color: orangered;
}
