.header-cards-h2 {
  text-align: center;
  font-size: 4.5rem;
}
.text-link {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  color: inherit;
  text-decoration: inherit;
}
<<<<<<< HEAD

=======
>>>>>>> f27a9b5c83f1b15710dc1b89035c301dd1b8012e
