.header-section-card {
  display: flex;
}

.header-cards-h2 {
  text-align: center;
  font-size: 4.5rem;
  width: 100%;
}
.text-link {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  color: inherit;
  text-decoration: inherit;
}
