/* .part2Config {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.Infortation-Cloud-Section-Home-Page {
  height: 10vh;
  padding: 0;
  margin: 3vh;
}

.Steps-Donation-Section-Home-Page {
  display: flex;
  flex-direction: column;
  height: 50vh;
  margin: 5vh;
}

.Steps-Donation-Fist-Division-Home-Page {
  display: flex;
  justify-content: left;
  margin-top: 5vh;

}

.HeadersSpace-Steps-Donation-Home-Page {
  margin: 1vh;
  padding-left: 6vh;
  line-height: 1.5vh;
}

.Follow-Instructions-Donation-Home-Page {
  font-size: 4vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  width: bold;
}

.Title-Steps-Donation-Home-Page {
  font-size: 6vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.Steps-Donation-Second-Division-Home-Page {
  margin-top: 0vh;
}
.Steps-Donation-List-Home-Page {
  display: grid;
  grid-gap: 15vh;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: left;
  margin-left: 10vh;
  margin-top: 0vh;
  
}


li::marker{
  color: #3dacc4 ;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 10vh;

}

.Money-Image-Steps-Donation-Home-Page{
  background-image: url("/src/assets/Money-Donation.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 40vh;
  text-align:center;
  width:60vh;
  margin-left: 20vh;
  margin-top: 10vh;
  
} */

.First-Container-Home-Page {
  display: flex;
}
.Body-Home-Page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.Ilustration-Section-Home-Page {
  display: flex;
  background-image: url("../../assets/try.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1vh;
  height: 100vh;
  justify-content: flex-end;
  width: 100vw;
  text-align: right;
}
.Header-Home-Page {
  display: flex;
  flex-direction: column;
  line-height: 2vh;
  align-items: center;
}
.We-Feed-The-Change {
  font-size: 3vw;
  color: #432744;
  margin-top: 5rem;
  line-height: 3vh;
  margin-right: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.Together {
  margin-top: 0vh;
  margin-right: 10rem;
  font-size: 3vw;
  font-style: italic;
  font-weight: bold;
  color: #432744;
  font-family: Georgia, "Times New Roman", Times, serif;
}
/* 
@media (max-width: 1600px) {
  .Ilustration-Section-Home-Page {
    height: 80vh;
  }
  .Together {
    font-size: 2vw;
  }
  .We-Feed-The-Change {
    font-size: 2vw;
  }
}
@media (max-width: 1200px) {
  .Ilustration-Section-Home-Page {
    height: 60vh;
  }
  .Together {
    font-size: 2vw;
  }
  .We-Feed-The-Change {
    font-size: 2vw;
  }
}
@media (max-width: 768px) {
  .Ilustration-Section-Home-Page {
    height: 40vh;
  }
  .Together {
    font-size: 2vw;
  }
  .We-Feed-The-Change {
    font-size: 2vw;
  }
}
@media (max-width: 480px) {
  .Ilustration-Section-Home-Page {
    height: 20vh;
  }
  .Together {
    font-size: 2vw;
  }
  .We-Feed-The-Change {
    font-size: 2vw;
  }
} */
