:root {
  --image-color: #b0e6fe;
  --color-primario: #56b6d6;
  --color-primario-B: #387ca3;
  --color-secundario: #eebc63;
  --color-secundario-B: #eea24a;
  --color-secundario-opa: rgba(238, 188, 99, 0.3);
}
#root {
  max-width: 100vw;
  font-family: "Edu TAS Beginner", cursive;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--image-color);
}
main {
  width: 100%;
  height: 100%;
  justify-content: right;
}
