:root{
  --color-primario: #56B6D6;
  --color-primario-B: #387CA3;
  --color-secundario: #EEBC63;
  --color-secundario-B: #EEA24A;
}
#root {
  max-width: 100vw;
  font-family: 'Edu TAS Beginner', cursive;
}
body{
  margin: 0;
  padding: 0;
}
main{
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

